.App {
  text-align: center;
  background-image: url('/src/assets/images/kindness-bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.header {
  height: auto;
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  position: absolute;
}
.menu-icon {
  height: 50px;
  margin: 20px 20px 0px 0px;
  z-index: 9999;
}
.nav-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  background: rgba(255,255,255, 0.95);
}
.menu-close {
  display: none;
}
nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
nav ul li {
  color: #000000;
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 12px;
}
nav ul li a {
  color: #000000;
  padding-right: 5px;
  text-decoration: none;
}

.body-app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container {
  width: 100%;
  max-width: 800px;
  background-color: #ffffff90;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

button {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  background: #00000080;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}
ul.suggestions {
  list-style: none;
  padding: 0;
}
ul.suggestions li {
  display: none;
}
ul.suggestions li.active {
  display: block;
}

form.login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  max-width: 500px;
}

input.text,
textarea {
  padding: 5px;
  margin: 1rem 0;
}

input[type="text" i] {
  padding: 5px;
}

.btn-wrap {
  display: flex;
}

textarea {
  font-family: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
